body {
    font-family: 'Outfit', sans-serif;
    background-color:#D4e3ec;

}

.header h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.paragraph p {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.main-image img {
    border-radius: 20px;
    text-align: center;
}