body {
    font-family: 'Outfit', sans-serif;
    background-color: #D4e3ec;

}

h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    background-color: yellow;
}

p {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    background-color: green;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    border: 25px dotted orange;
}